body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
#container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}
#gameWindow {
  display: flex;
  flex-flow: column;
  justify-content: start;
  display: none;
  height: 80vh;
  flex-grow: 1;
}

#buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.playerBoards {
  padding: 5px;
}

#chatScreen {
  display: none;
  border-bottom: 1px solid gray;
  flex-flow: column;
  height: 20vh;
  flex-grow: 1;
}

#chat-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#spel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#gameScreen {
  padding: 10px;
  border: 1px solid gray;
  flex-basis: 60%;
}

#divBoard {
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#selectedDice {
  height: 100px;
  display: flex;
  flex-flow: row wrap;
}

#gamesList {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.games-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
}

/* #oddPlayers{
  display:flex;
  flex-flow: column wrap;
} */

#player1board {
  color: red;
  flex-basis: 20%;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}
#player1 {
  display: flex;
  flex-direction: column;
}
#player2board {
  color: green;
  flex-basis: 20%;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}
#player2 {
  display: flex;
  flex-direction: column;
}

/* #player3board {
  color: blue;
  flex-basis: 20%;
  display: flex;
  flex:1;
  flex-direction: column;
}
#player3 {
  display: flex;
  flex-direction: column;
} */

#tegels {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px;
}
.tegeltjes {
  flex: 0 1 12.5%;
}
.tegeltjes:enabled {
  background-color: rgb(27, 235, 27);
}
.tegeltjes:disabled {
  background-color: initial;
}

.dices {
  background-size: cover;
}

#btnDice {
  height: 100%;
}
textarea {
  resize: none;
  width: 100%;
}

#chatBox {
  padding: 5px;
  overflow: scroll;
}
.dice_1 {
  background-image: url("../assets/dice_1.png");
}
.dice_2 {
  background-image: url("../assets/dice_2.png");
}
.dice_3 {
  background-image: url("../assets/dice_3.png");
}
.dice_4 {
  background-image: url("../assets/dice_4.png");
}
.dice_5 {
  background-image: url("../assets/dice_5.png");
}
.dice_X {
  background-image: url("../assets/dice_6.png");
}
.dices:disabled {
  opacity: 0.1;
}

@media (max-width: 500px) {
  .tegeltjes {
    width: 10vw;
    height: 7vh;
  }
  .dices {
    flex: 0 1 25%;
    background-size: cover;
    max-height: 10vh;
  }
  #tegels {
    padding: 5px;
  }
  #chatScreen {
    height: 10vh;
  }
  #chatBox {
    height: 100%;
  }
  #chat-wrapper {
    height: 5vh;
  }
  textarea {
    height: 4vh;
  }
  #container {
    height: 100vh;
    width: 100%;
    padding: 5px;
  }
  #selectedDice button {
    height: auto;
    width: auto;
  }
}
