#gameWindow {
  display: flex;
  flex-direction: row;
  color: blue;
  visibility: hidden;
}
#gameScreen {
  padding: 10px;
  border: 2px solid gray;
  flex-basis: 70%;
}

#divBoard {
  min-height: 70px;
}

#selectedDice {
  min-height: 70px;
}

#gamesList {
  margin-top: 20px;
}

#player1board {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
}
#player1 {
  display: flex;
  flex-direction: column;
}
#player2board {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
}
#player2 {
  display: flex;
  flex-direction: column;
}

.games-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dice_1 {
  background-image: url("../assets/dice_1.png");
}
.dice_2 {
  background-image: url("../assets/dice_2.png");
}
.dice_3 {
  background-image: url("../assets/dice_3.png");
}
.dice_4 {
  background-image: url("../assets/dice_4.png");
}
.dice_5 {
  background-image: url("../assets/dice_5.png");
}
.dice_X {
  background-image: url("../assets/dice_6.png");
}
.dices:disabled {
  opacity: 0.1;
}
