html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  padding:0 30vw;
}

#gameWindow {
  display: flex;
  flex-flow: column;
  justify-content: start;
  display: none;
  flex-basis: 80%;
  flex-grow: 1;
}

#buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 1vh;
}

.playerBoards {
  padding: 5px;
  flex-basis: 20%;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: space-between;
}

#chatScreen {
  display: none;
  border-bottom: 1px solid gray;
  flex-flow: column;
  flex-basis: 20%;
  max-height:20%;
}

#chat-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#spel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#gameScreen {
  padding: 10px;
  border: 1px solid gray;
  flex-basis: 60%;
  display: flex;
  flex-flow: column;
}

#divBoard {
  flex-basis: 35%;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1vh;
}
#selectedDice {
  flex-basis: 35%;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

#gamesList {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#totaalEnButton {
  flex-basis: 15%;
  flex-grow: 1;
}
.games-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
}

#playerPart {
  flex-basis: 15%;
  flex-grow: 1;

}

.playerTegelsContainer {
  display: flex;
  flex-direction: column;
}
.playerTegels:first-child {
  min-height: 6vh;
  margin: 1vh 0;
}

#tegels {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  padding: 15px;
}
.tegeltjes {
  flex: 0 1 12.5%;
}
.tegeltjes:enabled {
  background-color: rgb(27, 235, 27);
}
.tegeltjes:disabled {
  background-color: initial;
}

.dices {
  flex: 0 0 25%;
  background-size: cover;
  max-width: 12vw;
  max-height: 6vh;

}
#divBoard .dices{
  animation: bounceIn 0.6s ease-in-out;
}

#btnDice {
  padding: 5vw;
}
textarea {
  resize: none;
  width: 100%;
}

#chatBox {
  padding: 5px;
  overflow: scroll;
  max-height: 100%;
}
.dice_1 {
  background-image: url("../assets/dice_1.png");
}
.dice_2 {
  background-image: url("../assets/dice_2.png");
}
.dice_3 {
  background-image: url("../assets/dice_3.png");
}
.dice_4 {
  background-image: url("../assets/dice_4.png");
}
.dice_5 {
  background-image: url("../assets/dice_5.png");
}
.dice_X {
  background-image: url("../assets/dice_6.png");
}
.dices:disabled {
  opacity: 0.1;
}

@media (max-width: 500px) {
  .tegeltjes {
    width: 10vw;
    height: 7vh;
  }

  #tegels {
    padding: 5px;
  }
  textarea {
    height: 4vh;
  }
  #container {
    height: 100%;
    width: 100%;
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .tegeltjes {
    width: 10vw;
    height: 7vh;
  }

  #tegels {
    padding: 5px;
  }
  textarea {
    height: 4vh;
  }
  #container {
    height: 100%;
    width: 100%;
    padding: 5px;
  }
  .dices{
    max-width:11vw;
    max-height:10vh;
  }
}
